section {
    overflow: hidden;
    opacity: 0;
}

.section {
    background-color: #ebeef0;
    border-radius: 5px 5px 30px 30px;
    padding: 0 5px 10px 15px;
    overflow: auto;
}

.section > div {
    float: left;
}

.section-title {
    font-size: 32px;
    width: 100%;
    margin: 20px 0;
}

.section :not(:last-child) {
    padding-right: 20px;
}

.subsection-title {
    font-size: 24px;
}

table {
    width: 450px;
}

td, li {
    padding: 5px 0;
}

#main > :last-child {
    margin-bottom: 10px;
}