.section {
    padding-left: 5px;
    padding-bottom: 10px;
    overflow: auto;
}

.section > div {
    float: left;
}

.section-title {
    font-size: 32px;
    width: 100%;
    margin: 20px 0;
}

.left-container {
    padding-right: 20px;
}

.subsection-title {
    font-size: 24px;
}

#sign-in-out {
    font-weight: 500;
}

table {
    width: 450px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}