/* Contains all the basic styling that goes on every page */
/* Any cubic-bezier functions were obtained from Firefox's timing-function editor */

/* General styling */
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: #2980b9;
    transition: color 0.3s, opacity 0.3s;
}

a:hover {
    color: #4eb2f5;
}

/* Navigation bar */
#top-menu {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #3498db;
    font-weight: 500;
    transition: height 0.5s cubic-bezier(.65,.05,.36,1);
}

#top-menu * {
    font-size: 20px;
    color: #ecf0f1;
}

#top-menu a {
    opacity: 70%;
}

#top-menu a:hover {
    opacity: 100%;
}

nav span, nav a {
    margin: 0;
    line-height: 80px;
}

nav, .nav-list {
    display: flex;
}

.nav-section {
    height: 80px;
    flex: 1;
}

#drop-down {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1 !important;
}

#drop-down * {
    display: block;
    box-sizing: border-box;
    padding-left: 3%;
    padding-bottom: 16px;
    transition: opacity 0.3s, transform 0.5s cubic-bezier(.65,.05,.36,1);
}

#nav-drop-down {
    display: inline-block;
    white-space: nowrap;
}

#drop-down-image {
    height: 16px;
    width: 16px;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.rotated {
    transform: rotate(90deg);
}

.nav-list * {
    margin: 0 3%;
}

#nav-left {
    padding-left: 2%;
    justify-content: flex-start;
}

#nav-right {
    padding-right: 2%;
    justify-content: flex-end;
}

#nav-title {
    font-size: 40px;
}

/* Main */
#main {
    padding: 80px 20px 30px 20px;
}

/* Footer */
#footer {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
    background-color: #bdc3c7;
}