#main {
    background-color: #c0c0c0;
    padding-left: 0;
    padding-right: 0;
}

#top-menu, #footer {
    z-index: 1;
}

.white-keys, .black-keys {
    overflow: auto;
}

.white-key {
    float: left;
    height: 100vh;
    width: 12%;
    margin: 0 0.25%;
    background-color: #ecf0f1;
}

.black-keys {
    position: fixed;
    top: 0;
    height: 70vh;
    width: 100%;
    padding-left: 6.25%;
}

.black-key {
    float: left;
    height: 100%;
    width: 8%;
    margin: 0 2.25%;
    background-color: #000000;
}