#main {
    padding: 0;
    height: 100vh;
}

#top-menu, #footer {
    z-index: 2;
}

.white-keys > * {
    float: left;
    height: calc(85vh - 30px);
    width: calc(100% / 7 - 0.5%);
    margin: 0 0.25%;
    background-color: #ecf0f1;
}

.black-keys {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: calc(100% / 14);
    pointer-events: none;
}

.black-keys > * {
    float: left;
    height: 55vh;
    width: calc(100% * 2 / 21);
    margin: 0 calc(100% / 42);
    background-color: #000000;
    pointer-events: auto;
    z-index: 1;
}

.white-key, .black-key {
    border-radius: 5px;
    box-shadow: -3px 5px 7px gray;
}