/* Contains all the basic styling that goes on every page */

/* Custom font */
@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik-Medium.woff2") format("woff2"),
         url("../assets/fonts/Rubik-Medium.woff") format('woff'),
         url("../assets/fonts/Rubik-Medium.ttf") format("truetype");
}

/* General styling */
body {
    margin: 0;
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    color: #3498db;
}

/* Navigation bar */
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #3498db;
    display: flex;
}

nav * {
    margin: auto;
    font-size: 20px;
    color: #ecf0f1;
}

nav a {
    opacity: 80%;
}

nav a:hover {
    color: #ecf0f1;
    opacity: 100%;
}

#nav-left, #nav-right {
    display: flex;
    flex: 1;
}

#nav-left *, #nav-right * {
    margin: 0 4%;
}

#nav-left {
    padding-left: 2%;
    justify-content: flex-start;
}

#nav-right {
    padding-right: 2%;
    justify-content: flex-end;
}

#nav-title {
    font-size: 40px;
}

/* Main */
#main {
    margin-top: 80px;
    padding: 2%;
    height: 1000px;
}

/* Footer */
#footer {
    width: 100%;
    height: 30px;
    padding: 0 1%;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
    background-color: #bdc3c7;
}